<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077631800416-l785m10vem2b9l6l9phse1ikivp5mmb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077631800416-l785m10vem2b9l6l9phse1ikivp5mmb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCoy4Bsjy23z8mNMydKkEzmzSdA4PmHD7A</string>
	<key>GCM_SENDER_ID</key>
	<string>1077631800416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beauto.FireBase-Demo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-34cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-34cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077631800416:ios:aaaffd466e49bfb4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-34cf6.firebaseio.com</string>
</dict>
</plist>